rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
       return request.auth != null;
    }
    match /novel/{document=**}{
      allow read;
      allow create,update,delete: if isAuthenticated();
    }
    match /user/{userId} {
      allow read, create;
      allow update,delete: if isAuthenticated();
    }
  }
}